<%- include ('partials/header'); -%>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to yelpcamp</h1>
                <p>We have handpicked backgrounds</p>
                <p>
                    <a class="btn btn-primary btn-lg"href="/campgrounds/new">Add new campgrounds</a>
                </p>
            </div>

        </header>

        <div class="card-deck" style="display:flex; flex-wrap:wrap;">
                <% campgrounds.forEach(function(campground){ %>
                    <div class="col-md-6 col-sm-12 col-lg-4 card-body">
                        <div class="card" >
                                <img style="height:auto; width: 100%;" src= "<%= campground.image %>">
                        </div>
                        <div class="card-title text-center">
                            <h4><%= campground.name %></h4>
                            <p>
                                    <a style="text-align: center;" href="/campgrounds/<%= campground._id%>" class="btn btn-primary">More Info</a>
                            </p>
                        </div>
                        
                    </div>
                <%});%>    
        </div>
        
        
        
    </div>
<%- include ('partials/footer'); -%>