<%- include ('partials/header'); -%>
<h1> <%= campground.name %></h1>



<img style="height:auto; width: 100%;" src= "<%= campground.image %>">
<p> <%= campground.description %></p >

<%- include ('partials/footer'); -%>