<%- include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Edit <%= campground.name %></h1>

        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST"> <!-- action is campgrounds which is the route, ?_method=PUT - is method-overriding where POST request is overriden as PUT request in this case. We use method-overriding because html forms only support GET/POST requests -->
                <div class="form-group"> 
                    <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>">
                </div>
            
                <div class="form-group"> <!-- form-group groups things together and gives some spacing -->
                    <input class="form-control" type="text" name="campground[image]" value="<%= campground.image %>">
                </div>
                
                <div class="form-group"> <!-- form-group groups things together and gives some spacing -->
                    <input class="form-control" type="text" name="campground[description]" value="<%= campground.description %>">
                </div>
                
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button> <!-- btn-block makes the button take entire line -->
                </div>
            </form>
            <a href="/campgrounds">Back</a>
            
        </div>
    </div>
</div>

<%- include ../partials/footer %> 